<style>
body {
  background-color: coral;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: ;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(117, 82, 82);
  color: rgb(238, 229, 229);
}

.topnav a.active {
  background-color: #81e7c2;
  color: rgb(197, 123, 123);
}

</style>